.posts-show {
  .post-content {
    width: 100%;
    background-image: image-url("image_ff.jpg");
    background-size: cover;
    padding: 5%;
    .post {
      @include post;
      &__contens {
        .select {
          float: right;
          &__edit-btn {
            @include btn;
            margin-bottom: 10%;
          }
          &__delete-btn {
            @include btn;
          }
        }
      }
      &__ntmy-day {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        color:#ff9a9e;
      }
      &__image {
        width: 50%;
        height: 50%;
        margin: 0 auto;
        img {
          border-radius: 10%;
          width: 90%;
          height: 90%;
        }
      }
      &__box {
        color: whitesmoke;
        display: flex;
        justify-content: space-around;
        &__animal {
          @include right-list;
          margin-right: 2%;
        }
        &__food {
          @include right-list;
        }
        &__aura_color {
          @include right-list;
          margin-left: 2%;
        }
      }
      &__keyword {
        color: whitesmoke;
        &__keyword1 {
          @include keyword-list;
        }
        &__keyword2 {
          @include keyword-list;
        }
        &__keyword3 {
          @include keyword-list;
        }
      }
    }
    .addpost__list {
      .addpost-content {
        .addpost {
          @include post;
          &__box {
            float: right;
            &__delete-btn {
              @include btn;
            }
          }
          &__ntmy-day {
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
            color:#ff9a9e;
          }
          &__keyword1 {
            @include keyword-list;
          }
          &__keyword2 {
            @include keyword-list;
          }
          &__keyword3 {
            @include keyword-list;
          }
        }
      }
    }
  }
  .form-content {
    background-image: image-url("image_fff.jpg");
    background-size: cover;
    width: 60%;
    margin: 0 auto 1%;
    padding: 3%;
    border: solid 2px #ff9a9e;
    border-radius: 5px;
    .form {
      .ntmy-day {
        @include content;
        &__content {
        }
      }
      .keyword {
        &__content {
          @include content;
        }
      }
      .submit {
        text-align: center;
        .submit-btn {
          cursor: pointer;
          @include submit;
          border: none;
        }
      }
    }
  }
}