.user-show {
  .post-content {
    width: 100%;
    background-image: image-url("image_f.jpg");
    background-size: cover;
    padding: 5%;
    .post {
      .box {
        border: solid 2px #ff9a9e;
        border-radius: 5px;
        width: 60%;
        margin: 0 auto 1%;
        padding: 3%;
        background-color: rgba(247, 243, 243, 0.8);
        display: flex;
        &__left {
          width: 30%;
          margin: 0 auto;;
          &__image {
            img {
              width: 90%;
              height: 90%;
              :hover {
                opacity: 0.9;
              }
            }
          }
        }
        &__right {
          width: 70%;
          &__ntmy-day {
            line-height:10vh;
            padding-left: 2%;
            color:rgb(44, 43, 43);
          }
          .right-list {
            color: whitesmoke;
            display: flex;
            justify-content: space-around;
            :hover {
              opacity: 0.9;
            }
            &__animal {
              background-color: #ff9a9db9;
              height:50%;
              width:30%;
              border-radius:50%;
              line-height:10vh;
              text-align:center;
              margin-right: 2%;
            }
            &__food {
              background-color: #ff9a9db9;
              height:50%;
              width:30%;
              border-radius:50%;
              line-height:10vh;
              text-align:center;
            }
            &__aura_color {
              background-color: #ff9a9db9;
              height:50%;
              width:30%;
              border-radius:50%;
              line-height:10vh;
              text-align:center;
              margin-left: 2%;
            }
          }
          &__list {
            color:rgb(44, 43, 43);
            padding: 5%;
            &__keyword1 {
              text-align:center;
              line-height: 3vw;
              margin-top: 3%;
            }
            &__keyword2 {
              text-align:center;
              line-height: 3vw;
            }
            &__keyword3 {
              text-align:center;
              line-height: 3vw;
            }
          }
        }
      }
    }
  }
}